@charset "UTF-8";
/*$Id$*/
/* CSS Document */
body,html{margin: 0px;padding:0px;overflow:hidden;width: 100%;height: 100%;}
.outerbox{width: 100%;height: 100%;transition: 3s;position: relative;}
.default{background:url("../images/normal.jpg");background-size: cover;width: 100%;height: 100%;transition: 3s;    position: absolute;}
.temperature_symbol{font-size: 36px;letter-spacing: 2px;}
.sunny{background:url("../images/sunny.jpg");background-size: cover;width: 100%;height: 100%;transition: 3s;    position: absolute;}
.mist{background:url("../images/mist.jpg");background-size: cover;width: 100%;height: 100%;transition: 3s;    position: absolute;}
.rain{background:url("../images/rain.jpg");background-size: cover;width: 100%;height: 100%;transition: 3s;    position: absolute;}
.clear{background:url("../images/clear.jpg");background-size: cover;width: 100%;height: 100%;transition: 3s;    position: absolute;}
.cloudy{background:url("../images/cloudy.jpg");background-size: cover;width: 100%;height: 100%;transition: 3s;    position: absolute;}
.snow{background:url("../images/snow.jpg");background-size: cover;width: 100%;height: 100%;transition: 3s;    position: absolute;}
.subbx{width: auto;height: 350px;margin: auto;text-align: center;top: 0;bottom: 0;left: 150px;right: 150px;background: #0003;position: absolute;border-radius: 20px;}
.inputbx{width: 100%;text-align: center; margin-top: 63px;}
.inputbx input {color:#fff;border: none;border-bottom: 1px solid #2daf9c;width: 50%;height: 50px;margin: auto;outline: none;font-size: 30px;padding-left: 10px;background: transparent;}
.searchicon{display: inline;cursor: pointer;width: 20px;margin: -16px 0px;margin-left: 12px;background: #2daf9c;padding: 8px 14px;border-radius: 5px;}
.country{font-size: 35px;color: #fff;margin: 15px 0 0;}
.count,.txtarea>span{color: #fff;font-size: 70px;}
.txtarea{margin: 30px 0px 0px 0px;display:none;}
.common{ opacity: 0 }
.Subscribe
{
    background: #2daf9c;
}
.subsbtn{cursor:pointer;color: #fff;font-size: 16px;padding: 11px;display: none;border-radius: 5px;position: absolute;bottom: 20px;right: 20px;margin: 0;z-index: 1;}
.subinpu
{
    outline: none;background: transparent;margin-right: 10px;
    color:#fff;border: none;border-bottom: 1px solid #2daf9c;padding-left: 10px;    
    height: 27px;
}
.subinpu::-webkit-input-placeholder {
 color: #fff;padding-bottom: 10px;
}
.subinpu::-moz-input-placeholder { /* Firefox 18- */
 color: #fff;padding-bottom: 10px;
}
 .subinpu::-moz-input-placeholder {  /* Firefox 19+ */
 color:#fff;padding-bottom: 10px;
}
 .subinpu::-ms-input-placeholder {
 color:#fff;padding-bottom: 10px;
}
